*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************** section 5 start ***************/


.container4{
    background-color: white;
    margin-top: 5px;
}

.heading2{
    display: flex;
    font-size: 20px;
    font-weight: 700;
   padding: 20px 12px;
    margin-top: 12px;
    text-decoration: underline 5px solid greenyellow ;
}

.section4{
    width: 100%;
    background-color: white;
    color: black;
    padding: 2px 2px;
    margin:10px 5px;
}

.Categories-section{
    display: flex;
    flex-wrap: wrap;
}

.categories3{
    cursor: pointer;
    width: 21%;
    font-size: 20px;
    font-weight: 300;
    background-color: #F3F3F3;
    margin: 2px 5px;
    padding: 20px 70px;
}

.categories3 img{
    width: 35px;
    margin-right: 10px;
}


/**************** ection 5 closed *****************/

/**************** ection 6 start *****************/

.left-side {
    max-width: 550px;
    margin: 10px 0px;
}


.main-padding-section {
    width: 100%;
    padding: 20px 0px 20px 60px;
    background-color: #F3F3F3;
    display: flex;
}

.main-padding-section .left-side {
    padding: 10px 10px;
}

.logo img {
    width: 200px;
}

.left-side .headinghead {
    margin: 30px 0;
}

.headinghead .lefth3{
    font-size: 20px;
}

.left-side .paragraphfooter {
    
    margin-bottom: 10px;
}

.padding {
    position: relative;
}



.padding .first2div {
    display: flex;
}


.padding .firstdiv {
    border-right: 1px solid #898D90;
    
    margin-top: 20px;
    width: 30px;
    padding: 30px 50px;
    background-color: #ACB3B8;
}

.padding .seconddiv {
    margin-top: 20px;
    margin-left: 15px;
    width: 30px;
    padding: 30px 200px;
    background-color: #898D90;
    
}

.second2div {
    display: flex;
}

.second2div .thirddiv {
    margin-top: 20px;
    width: 20px;
    padding: 25px 50px;
    background-color: #ACB3B8;
}

.imagediv img {
    position: absolute;
    top: 99.5px;
    left: 133px;
    width: 200px;
}

/******************* left side closed *****************/



.rightsection {
    /* background-color: ; */
    padding: 10px 10px;
    margin: 10px 50px;
}

.righth3{
    font-size: 17px;
}
.box {
    /* border: 2px solid red; */
    margin: 20px 0px;
    counter-reset: num;
}

.card::before {
    counter-increment: num;
    content: counter(num);
    display: flex;
    position: absolute;
    left: -22px;
    top: 12px;
    width: 20px;
    height: 20px;
    padding: 9px;
    background-color: #cbfb00;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #fff;
    font-size: 18px;
    font-weight: 600;
    color: #007DBC;
}

.card {
    position: relative;
    /* border: 2px solid red; */
    padding: 15px 30px;
    display: flex;
    margin: 15px 5px;
    background-color: #fff;
}

.card h4 {
    font-weight: bolder;
    font-size: 17px;
    margin: 5px 0px;
}

.de-Icon {
    justify-content: space-between;
    display: flex;
    margin: 0px 15px;
}

/**************** ection 6 closed *****************/

/* --------------section 7 start----------------- */

footer {
    background-color: #1F1F1F;
    color: white;
    border-top: 5px solid #007DBC;
    width: 100%;
    height: 450px;
}

footer .footercategories {
    display: flex;
    margin: 10px 10px;
}

.footercategories .firstcategorie {
    padding: 25px 40px;
}

.firstcategorie a {
    color: white;
    text-decoration: none;
}

.firstcategorie a:hover{
    color: #11AFFF;
}

.firstcategorie .heading6 {
    padding: 10px 0px;
    font-size: 11.5px;
    letter-spacing: 0.5px;
}

.footercategories .fourthcategorie {
    margin-top: 30px;
}

.fourthcategorie .input-last-footer {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
}

.input-last-footer input{
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0px 20px 0px 16px;
    height: 58px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Avalon Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(180, 187, 195);
}

.input-last-footer p{
    background: rgb(0, 130, 195);
    border-radius: 0px;
    border-style: none;
    border-color: rgb(0, 130, 195);
    border-width: 5px;
    color: rgb(255, 255, 255);
    font-family: "Avalon Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1;
    white-space: normal;
    padding: 11px 10px;
    text-align: center;
    word-break: break-word;
    align-self: flex-end;
    cursor: pointer;
    height: auto;
}

.fourthcategorie .search-down-footer{
    font-size: 12.5px;
}
.fourthcategorie .search-down-footer a{
    color: #007DBC;
}

.fourthcategorie .search-down-footer a:hover{
    color: #11AFFF;
}

.down-footer-categories{
    margin: 0px 37px;
    display: flex;
    justify-content: space-between;
}

.down-footer-categories .first-down-categories{
    display: flex;
}

.first-down-categories i{
    font-size: 26px;
    margin: 0px 7px;
}

.first-down-categories i:hover{
    color: #A2A2A2;
    cursor: pointer;
}

.first-down-categories p{
    font-size: 10px;
    margin-left: 30px;
    margin-top: 7px;
}

.second-down-categories{
    color: #f3f3f3;
    font-family:Helvetica,Helvetica,Arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.second-down-categories img{
    margin-left: 15px;
    width: 20px;
}

/* -------------section 7 closed---------------- */
